### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
district_summary_df = pd.DataFrame([{"Total Schools":school_data["school_name"].count(),
                            "School Type":school_data["type"].nunique(),
                            "Total Students":student_data["student_name"].count(),
                            "Average Math Score":student_data["math_score"].mean(),
                            "Average Reading Score":student_data["reading_score"].mean(),
                            "Overall Average Score":(student_data["reading_score"].mean() + student_data["math_score"].mean())/2,
                            "Percent Passing Math":round((student_data["math_score"] >= 70).sum()/(student_data["math_score"].count())*100, 2),
                            "Percent Passing Reading":round((student_data["reading_score"] >= 70).sum()/(student_data["reading_score"].count())*100,2),
                            }])   

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["Overall Average Score"] = district_summary_df["Overall Average Score"].map("{:.2f}".format)
district_summary_df["Percent Passing Reading"] = district_summary_df["Percent Passing Reading"].map("{:.2f}%".format)
district_summary_df["Percent Passing Math"] = district_summary_df["Percent Passing Math"].map("{:.2f}%".format)

district_summary_df

,Total Schools,School Type,Total Students,Average Math Score,Average Reading Score,Overall Average Score,Percent Passing Math,Percent Passing Reading
0,15,2,"39,170",78.99,81.88,80.43,74.98%,85.81%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
"  
* Create a dataframe to hold the above results

In [3]:
# Sort DataFrames alphabetically by school
school_data = school_data.sort_values("school_name")
school_data_complete = school_data_complete.sort_values("school_name")

#Calculate average scores in math and reading
avg_math_byschool = pd.DataFrame(school_data_complete.groupby("school_name", as_index=False)['math_score'].mean())
avg_reading_byschool = pd.DataFrame(school_data_complete.groupby("school_name", as_index=False)['reading_score'].mean())

#Create DataFrames of students who passed math and reading
students_passing_math = school_data_complete[(school_data_complete["math_score"]>=70)]
students_passing_reading = school_data_complete[(school_data_complete["reading_score"]>=70)]

#Count the number of student who passed math and reading
perschool_passing_math = students_passing_math.groupby(["school_name"]).count()
perschool_passing_reading = students_passing_reading.groupby(["school_name"]).count()

overall_passing = (perschool_passing_reading + perschool_passing_math) / 2

overall_passing_rate = round(overall_passing["math_score"].tolist()/school_data["size"]*100,2)

#create the Summary DataFrame
school_summary_dict = {"School Name":school_data["school_name"].tolist(), "School Type":school_data["type"].tolist(),
     "Total Students":school_data["size"].tolist(), "Total School Budget":school_data["budget"].tolist(),
     "Per Student Budget":(school_data["budget"]/school_data["size"]).tolist(),
                       "Average Math Score":avg_math_byschool["math_score"].tolist(),
                       "Average Reading Score":avg_reading_byschool["reading_score"].tolist(),
                      "% Passing Math":round(perschool_passing_math["math_score"].tolist()/school_data["size"]*100,2),
                       "% Passing Reading":round(perschool_passing_reading["reading_score"].tolist()/school_data["size"]*100,2),
                       "Overall Passing Rate": overall_passing_rate
                      }

school_summary_df = pd.DataFrame(school_summary_dict, columns=["School Name", "School Type", "Total Students", 
                                                               "Total School Budget", "Per Student Budget", 
                                                               "Average Math Score", "Average Reading Score",
                                                              "% Passing Math","% Passing Reading","Overall Passing Rate"])

school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"]=school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"]=school_summary_df["Per Student Budget"].map("${:.2f}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.2f}%".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:.2f}%".format)
school_summary_df["Overall Passing Rate"] = school_summary_df["Overall Passing Rate"].map("{:.2f}%".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2f}%".format)
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2f}%".format)

school_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
7,Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05%,81.03%,66.68%,81.93%,74.31%
6,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,95.59%
1,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,73.36%
13,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,73.80%
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,95.27%
3,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,73.81%
8,Holden High School,Charter,427,"$248,087.00",$581.00,83.80%,83.81%,92.51%,96.25%,94.38%
0,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,73.50%
12,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,73.64%
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,95.27%
11,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,73.29%
2,Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36%,83.73%,93.87%,95.85%,94.86%
14,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,95.29%
5,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,95.20%
10,Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68%,83.95%,93.33%,96.61%,94.97%

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
top_five_schools = school_summary_df.sort_values("Overall Passing Rate",ascending=False).head(5)

top_five_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
6,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,95.59%
14,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,95.29%
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,95.27%
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,95.27%
5,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,95.20%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
bottom_five_schools = school_summary_df.sort_values("Overall Passing Rate").head(5)

bottom_five_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
11,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,73.29%
1,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,73.36%
0,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,73.50%
12,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,73.64%
13,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
#Create DataFrame with school, grade and math score

students_by_grade = school_data_complete[["grade", "school_name","math_score","reading_score"]]

#Create List for each grade
ninth_grade_filter = students_by_grade["grade"]=="9th"
ninth_grade_math = pd.DataFrame(students_by_grade[ninth_grade_filter].groupby("school_name", as_index=False)["math_score"].mean())

tenth_grade_filter = students_by_grade["grade"]=="10th"
tenth_grade_math = pd.DataFrame(students_by_grade[tenth_grade_filter].groupby("school_name", as_index=False)["math_score"].mean())

eleventh_grade_filter = students_by_grade["grade"]=="11th"
eleventh_grade_math = pd.DataFrame(students_by_grade[eleventh_grade_filter].groupby("school_name", as_index=False)["math_score"].mean())

twelfth_grade_filter = students_by_grade["grade"]=="12th"
twelfth_grade_math = pd.DataFrame(students_by_grade[twelfth_grade_filter].groupby("school_name", as_index=False)["math_score"].mean())

#Create DataFrame with average math scores for each school

math_scores_dict = {"School Name":school_data["school_name"].tolist(), 
                       "Avg 9th Grade Math":ninth_grade_math["math_score"].tolist(),
                    "Avg 10th Grade Math":tenth_grade_math["math_score"].tolist(),
                    "Avg 11th Grade Math":eleventh_grade_math["math_score"].tolist(),
                    "Avg 12th Grade Math":twelfth_grade_math["math_score"].tolist(),
                    "Average Math Score":avg_math_byschool["math_score"].tolist()
                      }

math_scores_df = pd.DataFrame(math_scores_dict, columns=["School Name", "Avg 9th Grade Math", "Avg 10th Grade Math",
                                                              "Avg 11th Grade Math", "Avg 12th Grade Math", "Average Math Score"])

math_scores_df["Avg 9th Grade Math"] = math_scores_df["Avg 9th Grade Math"].map("{:.2f}%".format)
math_scores_df["Avg 10th Grade Math"] = math_scores_df["Avg 10th Grade Math"].map("{:.2f}%".format)
math_scores_df["Avg 11th Grade Math"] = math_scores_df["Avg 11th Grade Math"].map("{:.2f}%".format)
math_scores_df["Avg 12th Grade Math"] = math_scores_df["Avg 12th Grade Math"].map("{:.2f}%".format)
math_scores_df["Average Math Score"] = math_scores_df["Average Math Score"].map("{:.2f}%".format)

math_scores_df

,School Name,Avg 9th Grade Math,Avg 10th Grade Math,Avg 11th Grade Math,Avg 12th Grade Math,Average Math Score
0,Bailey High School,77.08%,77.00%,77.52%,76.49%,77.05%
1,Cabrera High School,83.09%,83.15%,82.77%,83.28%,83.06%
2,Figueroa High School,76.40%,76.54%,76.88%,77.15%,76.71%
3,Ford High School,77.36%,77.67%,76.92%,76.18%,77.10%
4,Griffin High School,82.04%,84.23%,83.84%,83.36%,83.35%
5,Hernandez High School,77.44%,77.34%,77.14%,77.19%,77.29%
6,Holden High School,83.79%,83.43%,85.00%,82.86%,83.80%
7,Huang High School,77.03%,75.91%,76.45%,77.23%,76.63%
8,Johnson High School,77.19%,76.69%,77.49%,76.86%,77.07%
9,Pena High School,83.63%,83.37%,84.33%,84.12%,83.84%
10,Rodriguez High School,76.86%,76.61%,76.40%,77.69%,76.84%
11,Shelton High School,83.42%,82.92%,83.38%,83.78%,83.36%
12,Thomas High School,83.59%,83.09%,83.50%,83.50%,83.42%
13,Wilson High School,83.09%,83.72%,83.20%,83.04%,83.27%
14,Wright High School,83.26%,84.01%,83.84%,83.64%,83.68%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
#Create List for each grade
ninth_grade_reading = pd.DataFrame(students_by_grade[ninth_grade_filter].groupby("school_name", as_index=False)["reading_score"].mean())
tenth_grade_reading = pd.DataFrame(students_by_grade[tenth_grade_filter].groupby("school_name", as_index=False)["reading_score"].mean())
eleventh_grade_reading = pd.DataFrame(students_by_grade[eleventh_grade_filter].groupby("school_name", as_index=False)["reading_score"].mean())
twelfth_grade_reading = pd.DataFrame(students_by_grade[twelfth_grade_filter].groupby("school_name", as_index=False)["reading_score"].mean())

#Create DataFrame with average reading scores for each school

reading_scores_dict = {"School Name":school_data["school_name"].tolist(), 
                       "Avg 9th Grade Reading":ninth_grade_reading["reading_score"].tolist(),
                    "Avg 10th Grade Reading":tenth_grade_reading["reading_score"].tolist(),
                    "Avg 11th Grade Reading":eleventh_grade_reading["reading_score"].tolist(),
                    "Avg 12th Grade Reading":twelfth_grade_reading["reading_score"].tolist(),
                    "Average Reading Score":avg_reading_byschool["reading_score"].tolist()
                      }

reading_scores_df = pd.DataFrame(reading_scores_dict, columns=["School Name", "Avg 9th Grade Reading", "Avg 10th Grade Reading",
                                                              "Avg 11th Grade Reading", "Avg 12th Grade Reading", "Average Reading Score"])

reading_scores_df["Avg 9th Grade Reading"] = reading_scores_df["Avg 9th Grade Reading"].map("{:.2f}%".format)
reading_scores_df["Avg 10th Grade Reading"] = reading_scores_df["Avg 10th Grade Reading"].map("{:.2f}%".format)
reading_scores_df["Avg 11th Grade Reading"] = reading_scores_df["Avg 11th Grade Reading"].map("{:.2f}%".format)
reading_scores_df["Avg 12th Grade Reading"] = reading_scores_df["Avg 12th Grade Reading"].map("{:.2f}%".format)
reading_scores_df["Average Reading Score"] = reading_scores_df["Average Reading Score"].map("{:.2f}%".format)

reading_scores_df

,School Name,Avg 9th Grade Reading,Avg 10th Grade Reading,Avg 11th Grade Reading,Avg 12th Grade Reading,Average Reading Score
0,Bailey High School,81.30%,80.91%,80.95%,80.91%,81.03%
1,Cabrera High School,83.68%,84.25%,83.79%,84.29%,83.98%
2,Figueroa High School,81.20%,81.41%,80.64%,81.38%,81.16%
3,Ford High School,80.63%,81.26%,80.40%,80.66%,80.75%
4,Griffin High School,83.37%,83.71%,84.29%,84.01%,83.82%
5,Hernandez High School,80.87%,80.66%,81.40%,80.86%,80.93%
6,Holden High School,83.68%,83.32%,83.82%,84.70%,83.81%
7,Huang High School,81.29%,81.51%,81.42%,80.31%,81.18%
8,Johnson High School,81.26%,80.77%,80.62%,81.23%,80.97%
9,Pena High School,83.81%,83.61%,84.34%,84.59%,84.04%
10,Rodriguez High School,80.99%,80.63%,80.86%,80.38%,80.74%
11,Shelton High School,84.12%,83.44%,84.37%,82.78%,83.73%
12,Thomas High School,83.73%,84.25%,83.59%,83.83%,83.85%
13,Wilson High School,83.94%,84.02%,83.76%,84.32%,83.99%
14,Wright High School,83.83%,83.81%,84.16%,84.07%,83.95%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
#Create DataFrame with School Spending, School Size, School Type, Math Score, Reading Score

students_by_schooldemos = school_data_complete[["school_name", "size", "budget", "type", "math_score","reading_score"]]
students_by_schooldemos['per_pupil_spending'] = students_by_schooldemos["budget"]/students_by_schooldemos["size"]

# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names_spending = ["<$585", "$585-615", "$615-645", "$645-675"]

students_by_schooldemos["spending_bin"] = pd.cut(students_by_schooldemos["per_pupil_spending"], spending_bins, labels=group_names_spending)
students_by_schooldemos = students_by_schooldemos.sort_values("spending_bin")

#Calculate average scores in math and reading
avg_math_byspending = pd.DataFrame(students_by_schooldemos.groupby("spending_bin", as_index=False)['math_score'].mean())
avg_reading_byspending = pd.DataFrame(students_by_schooldemos.groupby("spending_bin", as_index=False)['reading_score'].mean())

#Create DataFrames of students who passed math and reading
students_passing_math_d = students_by_schooldemos[(school_data_complete["math_score"]>=70)]
students_passing_reading_d = students_by_schooldemos[(school_data_complete["reading_score"]>=70)]

#Count the number of student who passed math and reading
perspending_passing_math = students_passing_math_d.groupby(["spending_bin"], as_index=False).count()
perspending_passing_reading = students_passing_reading_d.groupby(["spending_bin"], as_index=False).count()

#Group the total students by bin
studentsperbin = students_by_schooldemos.groupby(["spending_bin"], as_index=False).count()

overall_passing_d = (perspending_passing_reading["reading_score"] + perspending_passing_math["math_score"]) / 2

overall_passing_rate_d = round(overall_passing_d/(studentsperbin["reading_score"].tolist())*100,2)

#create the Summary DataFrame
spending_summary_dict = {"Per Pupil Spending":group_names_spending, 
                       "Average Math Score":avg_math_byspending["math_score"],
                       "Average Reading Score":avg_reading_byspending["reading_score"],
                      "% Passing Math":round(perspending_passing_math["math_score"]/studentsperbin["math_score"]*100,2),
                       "% Passing Reading":round(perspending_passing_reading["reading_score"]/studentsperbin["reading_score"]*100,2),
                       "Overall Passing Rate": overall_passing_rate_d}

spending_summary_df = pd.DataFrame(spending_summary_dict)
    

spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.2f}%".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.2f}%".format)
spending_summary_df["Overall Passing Rate"] = spending_summary_df["Overall Passing Rate"].map("{:.2f}%".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.2f}%".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.2f}%".format)

spending_summary_df

C:\Users\ronne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\ronne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\ronne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
C:\Users\ronne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,Per Pupil Spending,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,<$585,83.36%,83.96%,93.70%,96.69%,95.19%
1,$585-615,83.53%,83.84%,94.12%,95.89%,95.01%
2,$615-645,78.06%,81.43%,71.40%,83.61%,77.51%
3,$645-675,77.05%,81.01%,66.23%,81.11%,73.67%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:

# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

students_by_schooldemos["size_bin"] = pd.cut(students_by_schooldemos["size"], size_bins, labels=group_names_size)
students_by_schooldemos = students_by_schooldemos.sort_values("size_bin")

#Calculate average scores in math and reading
avg_math_bysize = pd.DataFrame(students_by_schooldemos.groupby("size_bin", as_index=False)['math_score'].mean())
avg_reading_bysize = pd.DataFrame(students_by_schooldemos.groupby("size_bin", as_index=False)['reading_score'].mean())

#Create DataFrames of students who passed math and reading
students_passing_math_d = students_by_schooldemos[(school_data_complete["math_score"]>=70)]
students_passing_reading_d = students_by_schooldemos[(school_data_complete["reading_score"]>=70)]

#Count the number of student who passed math and reading
size_passing_math = students_passing_math_d.groupby(["size_bin"], as_index=False).count()
size_passing_reading = students_passing_reading_d.groupby(["size_bin"], as_index=False).count()

#Group the total students by bin
studentsperbinsize = students_by_schooldemos.groupby(["size_bin"], as_index=False).count()

overall_passing_d_size = (size_passing_reading["reading_score"] + size_passing_math["math_score"]) / 2

overall_passing_rate_d_size = round(overall_passing_d_size/(studentsperbinsize["reading_score"].tolist())*100,2)

#create the Summary DataFrame
size_summary_dict = {"School Size":group_names_size, 
                       "Average Math Score":avg_math_bysize["math_score"],
                       "Average Reading Score":avg_reading_bysize["reading_score"],
                      "% Passing Math":round(size_passing_math["math_score"]/studentsperbinsize["math_score"]*100,2),
                       "% Passing Reading":round(size_passing_reading["reading_score"]/studentsperbinsize["reading_score"]*100,2),
                       "Overall Passing Rate": overall_passing_rate_d_size}

size_summary_df = pd.DataFrame(size_summary_dict)
                                  

size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.2f}%".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.2f}%".format)
size_summary_df["Overall Passing Rate"] = size_summary_df["Overall Passing Rate"].map("{:.2f}%".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.2f}%".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.2f}%".format)

size_summary_df

C:\Users\ronne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]
C:\Users\ronne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,School Size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Small (<1000),83.83%,83.97%,93.95%,96.04%,95.00%
1,Medium (1000-2000),83.37%,83.87%,93.62%,96.77%,95.19%
2,Large (2000-5000),77.48%,81.20%,68.65%,82.13%,75.39%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [10]:
students_by_schooldemos = students_by_schooldemos.sort_values("type")

#Calculate average scores in math and reading
avg_math_bytype = pd.DataFrame(students_by_schooldemos.groupby("type", as_index=False)['math_score'].mean())
avg_reading_bytype = pd.DataFrame(students_by_schooldemos.groupby("type", as_index=False)['reading_score'].mean())

#Create DataFrames of students who passed math and reading
students_passing_math_d = students_by_schooldemos[(school_data_complete["math_score"]>=70)]
students_passing_reading_d = students_by_schooldemos[(school_data_complete["reading_score"]>=70)]

#Count the number of student who passed math and reading
type_passing_math = students_passing_math_d.groupby(["type"], as_index=False).count()
type_passing_reading = students_passing_reading_d.groupby(["type"], as_index=False).count()

#Group the total students by bin
studentspertype = students_by_schooldemos.groupby(["type"], as_index=False).count()

overall_passing_d_type = (type_passing_reading["reading_score"] + type_passing_math["math_score"]) / 2

overall_passing_rate_d_type = round(overall_passing_d_type/(studentspertype["reading_score"].tolist())*100,2)

#create the Summary DataFrame
type_summary_dict = {"type":["Charter","District"], 
                       "Average Math Score":avg_math_bytype["math_score"],
                       "Average Reading Score":avg_reading_bytype["reading_score"],
                      "% Passing Math":round(type_passing_math["math_score"]/studentspertype["math_score"]*100,2),
                       "% Passing Reading":round(type_passing_reading["reading_score"]/studentspertype["reading_score"]*100,2),
                       "Overall Passing Rate": overall_passing_rate_d_type}

type_summary_df = pd.DataFrame(type_summary_dict)
                                  
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.2f}%".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.2f}%".format)
type_summary_df["Overall Passing Rate"] = type_summary_df["Overall Passing Rate"].map("{:.2f}%".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.2f}%".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.2f}%".format)

type_summary_df

C:\Users\ronne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\ronne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Charter,83.41%,83.90%,93.70%,96.65%,95.17%
1,District,76.99%,80.96%,66.52%,80.91%,73.71%