### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
district_summary_df = pd.DataFrame([{"Total Schools":school_data["school_name"].count(),
                            "School Type":school_data["type"].nunique(),
                            "Total Students":student_data["student_name"].count(),
                            "Average Math Score":student_data["math_score"].mean(),
                            "Average Reading Score":student_data["reading_score"].mean(),
                            "Overall Average Score":(student_data["reading_score"].mean() + student_data["math_score"].mean())/2,
                            "Percent Passing Math":round((student_data["math_score"] >= 70).sum()/(student_data["math_score"].count())*100, 2),
                            "Percent Passing Reading":round((student_data["reading_score"] >= 70).sum()/(student_data["reading_score"].count())*100,2),
                            }])                                                                                                                                                           

district_summary_df

,Total Schools,School Type,Total Students,Average Math Score,Average Reading Score,Overall Average Score,Percent Passing Math,Percent Passing Reading
0,15,2,39170,78.985371,81.87784,80.431606,74.98,85.81

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
"  
* Create a dataframe to hold the above results

In [41]:
# Counts

school_data = school_data.sort_values("school_name")

school_data_complete = school_data_complete.sort_values("school_name")

avg_math_byschool = pd.DataFrame(school_data_complete.groupby("school_name", as_index=False)['math_score'].mean())

avg_reading_byschool = pd.DataFrame(school_data_complete.groupby("school_name", as_index=False)['reading_score'].mean())

schools_passing_math = school_data_complete[(school_data_complete["math_score"]>=70)]

perschool_passing_math = schools_passing_math.groupby(["school_name"]).count()

#passing_math_byschool = pd.DataFrame(school_data_complete.groupby(["school_name"]).apply(school_data_complete[school_data_complete['math_score'] >= 'one']))

school_summary_dict = {"School Name":school_data["school_name"].tolist(), "School Type":school_data["type"].tolist(),
     "Total Students":school_data["size"].tolist(), "Total School Budget":school_data["budget"].tolist(),
     "Per Student Budget":(school_data["budget"]/school_data["size"]).tolist(),
                       "Average Math Score":avg_math_byschool["math_score"].tolist(),
                       "Average Reading Score":avg_reading_byschool["reading_score"].tolist(),
                      #"% Passing Math":perschool_passing_math["math_score"].tolist()/school_data["size"].tolist
                      }

school_summary_df = pd.DataFrame(school_summary_dict, columns=["School Name", "School Type", "Total Students", 
                                                               "Total School Budget", "Per Student Budget", 
                                                               "Average Math Score", "Average Reading Score",
                                                              "% Passing Math","% Passing Reading","Overall Passing Rate"])

school_data["size"].tolist()

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [4]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [5]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.